In [1]:
# import libraries

import numpy as np
import pandas as pd
from linearmodels import PanelOLS
from linearmodels import RandomEffects

In [2]:
import pandas as pd

In [3]:
## import data

df = pd.read_csv("Hurricane.csv")

In [4]:
df

,Year,State,Abb,atkin05,gini,rmeandev,theil,top10,top1,Hurricane Description,...,ME,MA,MS,NY,NC,RI,SC,TX,VA,Time
0,1946,Alabama,AL,0.183414,0.450865,0.609678,0.445901,0.339533,0.117825,NONE,...,0,0,0,0,0,0,0,0,0,31
1,1946,Connecticut,CT,0.184396,0.447319,0.601974,0.461086,0.337660,0.124504,NONE,...,0,0,0,0,0,0,0,0,0,31
2,1946,Florida,FL,0.213012,0.484664,0.670380,0.556997,0.379006,0.133172,"5,6",...,0,0,0,0,0,0,0,0,0,31
3,1946,Georgia,GA,0.185232,0.443881,0.612569,0.460402,0.346242,0.123761,NONE,...,0,0,0,0,0,0,0,0,0,31
4,1946,Louisiana,LA,0.171094,0.427402,0.579887,0.411916,0.319825,0.109108,NONE,...,0,0,0,0,0,0,0,0,0,31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
835,2005,North Carolina,NC,0.182406,0.604870,0.829606,0.780510,0.434337,0.195857,Ophelia,...,0,0,0,0,1,0,0,0,0,90
836,2005,Rhode Island,RI,0.185187,0.570311,0.818546,0.785272,0.424787,0.184614,NONE,...,0,0,0,0,0,1,0,0,0,90
837,2005,South Carolina,SC,0.173256,0.623322,0.822416,0.741847,0.427706,0.203453,NONE,...,0,0,0,0,0,0,1,0,0,90
838,2005,Texas,TX,0.225267,0.644617,0.899498,1.025068,0.486059,0.222527,Rita,...,0,0,0,0,0,0,0,1,0,90
839,2005,Virginia,VA,0.206659,0.556666,0.836126,0.886856,0.433302,0.173628,NONE,...,0,0,0,0,0,0,0,0,1,90

In [ ]:
dummies = pd.get_dummies(df.State)
dummies

In [5]:
df = df.dropna()
df

,Year,State,Abb,atkin05,gini,rmeandev,theil,top10,top1,Hurricane Description,...,ME,MA,MS,NY,NC,RI,SC,TX,VA,Time
0,1946,Alabama,AL,0.183414,0.450865,0.609678,0.445901,0.339533,0.117825,NONE,...,0,0,0,0,0,0,0,0,0,31
1,1946,Connecticut,CT,0.184396,0.447319,0.601974,0.461086,0.337660,0.124504,NONE,...,0,0,0,0,0,0,0,0,0,31
2,1946,Florida,FL,0.213012,0.484664,0.670380,0.556997,0.379006,0.133172,"5,6",...,0,0,0,0,0,0,0,0,0,31
3,1946,Georgia,GA,0.185232,0.443881,0.612569,0.460402,0.346242,0.123761,NONE,...,0,0,0,0,0,0,0,0,0,31
4,1946,Louisiana,LA,0.171094,0.427402,0.579887,0.411916,0.319825,0.109108,NONE,...,0,0,0,0,0,0,0,0,0,31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
835,2005,North Carolina,NC,0.182406,0.604870,0.829606,0.780510,0.434337,0.195857,Ophelia,...,0,0,0,0,1,0,0,0,0,90
836,2005,Rhode Island,RI,0.185187,0.570311,0.818546,0.785272,0.424787,0.184614,NONE,...,0,0,0,0,0,1,0,0,0,90
837,2005,South Carolina,SC,0.173256,0.623322,0.822416,0.741847,0.427706,0.203453,NONE,...,0,0,0,0,0,0,1,0,0,90
838,2005,Texas,TX,0.225267,0.644617,0.899498,1.025068,0.486059,0.222527,Rita,...,0,0,0,0,0,0,0,1,0,90
839,2005,Virginia,VA,0.206659,0.556666,0.836126,0.886856,0.433302,0.173628,NONE,...,0,0,0,0,0,0,0,0,1,90

In [6]:
df = df.set_index(['State', 'Year'])
df.head()

,,Abb,atkin05,gini,rmeandev,theil,top10,top1,Hurricane Description,Base Economic Damage,Normalized PL05,...,ME,MA,MS,NY,NC,RI,SC,TX,VA,Time
State,Year,,,,,,,,,,,,,,,,,,,,,
Alabama,1946,AL,0.183414,0.450865,0.609678,0.445901,0.339533,0.117825,NONE,0,0,...,0,0,0,0,0,0,0,0,0,31
Connecticut,1946,CT,0.184396,0.447319,0.601974,0.461086,0.337660,0.124504,NONE,0,0,...,0,0,0,0,0,0,0,0,0,31
Florida,1946,FL,0.213012,0.484664,0.670380,0.556997,0.379006,0.133172,"5,6",12200000,4716909057,...,0,0,0,0,0,0,0,0,0,31
Georgia,1946,GA,0.185232,0.443881,0.612569,0.460402,0.346242,0.123761,NONE,0,0,...,0,0,0,0,0,0,0,0,0,31
Louisiana,1946,LA,0.171094,0.427402,0.579887,0.411916,0.319825,0.109108,NONE,0,0,...,0,0,0,0,0,0,0,0,0,31

In [7]:
from linearmodels import PanelOLS

Y = df['gini']
df['const'] = 1
dd = ['const', 'Normalized PL05', 'Time']
dif_in_dif = PanelOLS(Y, df[dd]).fit(cov_type = 'clustered', cluster_entity = True)

In [8]:
firmFE = PanelOLS(Y, df[dd], entity_effects = True)
print(firmFE.fit(cov_type = 'clustered', cluster_entity = True))

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:                   gini   R-squared:                        0.8629
Estimator:                   PanelOLS   R-squared (Between):              0.0602
No. Observations:                 839   R-squared (Within):               0.8629
Date:                Tue, Feb 22 2022   R-squared (Overall):              0.8090
Time:                        11:47:22   Log-likelihood                    2006.5
Cov. Estimator:             Clustered
                                        F-statistic:                      2591.0
Entities:                          14   P-value                           0.0000
Avg Obs:                       59.929   Distribution:                   F(2,823)
Min Obs:                       59.000
Max Obs:                       60.000   F-statistic (robust):             583.72
                                        P-value                           0.0000
Time periods:                      60   Distribution:                   F(2,823)
Avg Obs:                       13.983
Min Obs:                       13.000
Max Obs:                       14.000

                                Parameter Estimates
===================================================================================
                 Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
-----------------------------------------------------------------------------------
const               0.3040     0.0074     41.173     0.0000      0.2895      0.3185
Normalized PL05  8.292e-13  1.715e-13     4.8336     0.0000   4.925e-13   1.166e-12
Time                0.0032     0.0001     25.923     0.0000      0.0029      0.0034
===================================================================================

F-test for Poolability: 30.555
P-value: 0.0000
Distribution: F(13,823)

Included effects: Entity

In [9]:
stateFE = PanelOLS(Y, df[dd + ['Abb']])
print(stateFE.fit(cov_type = 'clustered', cluster_entity = True))

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:                   gini   R-squared:                        0.8712
Estimator:                   PanelOLS   R-squared (Between):              0.9993
No. Observations:                 839   R-squared (Within):               0.8620
Date:                Tue, Feb 22 2022   R-squared (Overall):              0.8712
Time:                        11:47:32   Log-likelihood                    2003.4
Cov. Estimator:             Clustered
                                        F-statistic:                      371.11
Entities:                          14   P-value                           0.0000
Avg Obs:                       59.929   Distribution:                  F(15,823)
Min Obs:                       59.000
Max Obs:                       60.000   F-statistic (robust):         -2.915e+18
                                        P-value                           1.0000
Time periods:                      60   Distribution:                  F(15,823)
Avg Obs:                       13.983
Min Obs:                       13.000
Max Obs:                       14.000

                                Parameter Estimates
===================================================================================
                 Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
-----------------------------------------------------------------------------------
const               0.2952     0.0075     39.479     0.0000      0.2805      0.3099
Normalized PL05  8.322e-13  1.732e-13     4.8054     0.0000   4.923e-13   1.172e-12
Time                0.0032     0.0001     25.757     0.0000      0.0029      0.0034
Abb.CT              0.0155  6.005e-06     2578.8     0.0000      0.0155      0.0155
Abb.FL              0.0346     0.0006     57.098     0.0000      0.0334      0.0358
Abb.GA              0.0107  2.353e-05     455.54     0.0000      0.0107      0.0108
Abb.LA              0.0158     0.0003     52.750     0.0000      0.0152      0.0163
Abb.MA              0.0019  1.629e-05     115.99     0.0000      0.0019      0.0019
Abb.ME             -0.0114  3.012e-05    -377.09     0.0000     -0.0114     -0.0113
Abb.MS              0.0193  6.268e-05     308.33     0.0000      0.0192      0.0194
Abb.NC             -0.0023     0.0001    -16.786     0.0000     -0.0026     -0.0021
Abb.NY              0.0257  6.541e-05     392.41     0.0000      0.0255      0.0258
Abb.RI             -0.0100     0.0005    -20.854     0.0000     -0.0110     -0.0091
Abb.SC             -0.0090     0.0004    -24.188     0.0000     -0.0097     -0.0082
Abb.TX              0.0355     0.0016     22.869     0.0000      0.0325      0.0386
Abb.VA             -0.0029     0.0004    -7.7090     0.0000     -0.0037     -0.0022
===================================================================================